<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AxiiInput.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RemoteInput.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AxiiInput.Properties.Settings>
            <setting name="UseKeyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>8128</value>
            </setting>
            <setting name="PoolingInterval" serializeAs="String">
                <value>14</value>
            </setting>
        </AxiiInput.Properties.Settings>
        <RemoteInput.Properties.Settings>
            <setting name="UseKeyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>8128</value>
            </setting>
            <setting name="PoolingInterval" serializeAs="String">
                <value>14</value>
            </setting>
        </RemoteInput.Properties.Settings>
    </userSettings>
</configuration>